@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display&family=Turret+Road:wght@200&display=swap");

$light: #f2f1ef;
$medium: #d8cfd0;
$dark: #b1a6a4;
$blue: #697184;
$black: #413f3d;
